.parallax-container-1{
    background-image: url(https://cdn.wallpapersafari.com/92/65/JUb1xy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}
.parallax-container-2{
    background-image: url(https://images5.alphacoders.com/614/thumb-1920-614552.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}.parallax-container-3{
    background-image: url(https://c1.wallpaperflare.com/preview/767/147/745/clean-clear-cold-cool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}